[color]
	ui = auto
[core]
	editor = /opt/homebrew/bin/vim
	ignorecase = false
  excludesfile = "~/.gitignore"
[init]
	defaultBranch = master
[pager]
	branch = false
[user]
	email = mark@remarkablemark.org
	name = Mark
[push]
	autoSetupRemote = true
